tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# I'm from here down
*.vscode
lua/plugins/My_devfiles/
lua/Files&Themes_EXTRAS/
lua/plugins/Extras_NOTES
lua/plugins/colors/Colors_Notes
lua/plugins/colors/.vscode/
Removed-Plugins&Files/
spell/
util/

config-notes.md
.gitignore
.neoconf.json
lazy-lock.json
lazyvim.json
stylua.toml
VCS-snips-export_9-12-2023-
.cache/
.git/
